<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- mi css-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/imag/index/favicon.png" type="image/x-icon">
    <title>ORINOCO TRAVEL & LOGISTIC PASAJEROS</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg nav-bar-orinoco">
        <div class="container-fluid">
          <img src="../assets/imag/index/logo.png" alt="orinoco travel & logistic"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/pasajeros.html">Pasajeros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/logistica.html">Logística</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/empresas.html">Empresas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/seguridad.html">Seguridad</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../views/nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="../index.html">Inicio</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>      
<div class="container-fluid">
    <div class="row m-3">
        <div class="col-lg-6">
            <h1>Viajes seguros y<br> de calidad al <br>alcance</h1>
            <p>Vayas donde vayas te ayudaremos a<br>llegar de forma comoda y segura. La<br>ciudad es tuya.</p>
        </div>
        <div class="col-lg-6">
            <img src="../assets/imag/pasajeros/pasajeros.png" alt="viajes seguros" width="100%">
        </div>
    </div>
</div>
<div class="container-fluid pt-5">
    <div class="row m-3">
        <div class="col-sm-4">
            <h2>Seguridad en cada viaje</h2>
            <p>Tanto tu como tus envios viajaran con<br>consuctores profesionales. Siempre con<br>los mayores estandares de calidad.</p>
        </div>
        <div class="col-sm-4">
            <h2>Precios sin sorpresas</h2>
            <p>Sabes el importe de tu viaje o de tu envio<br>antes de pedirlo. Sin sorpresas y con<br>precios asequibles y transparentes.</p>
        </div>
        <div class="col-sm-4">
            <h2>Envios seguros</h2>
            <p>Sabes el importe de tu envio. Entregamos<br>tu encomienda a larga o corta distancia de<br>manera segura y confiable.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row m-3">
        <div class="col-lg-6 py-3">
            <img src="../assets/imag/pasajeros/seguro.png" alt="pasajeros seguros" width="100%">
        </div>
  
        <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-12 pt-3">
            
            <p>SEGURIDAD</p>
            <h1>Vayas como vayas ve,<br> seguro</h1>
          </div>
        <div class="col-lg-1">
          <img src="../assets/imag/pasajeros/Group (1).png" alt="proteccion al pasajero ante el covid-19">
        </div>
        <div class="col-lg-11">
          <h2>Proteccion ante el COVID-19</h2>
            <p>Vehiculos desinfectados periodicamente, mamparas, mascarillas y gel<br>hidroalcoholico para conductores.</p>
        </div>
  
        <div class="col-lg-1">
          <img src="../assets/imag/pasajeros/Group (2).png" alt="traslados de calidad">
        </div>
  
        <div class="col-lg-11">
          <h2>Altos estandares de calidad</h2>
          <p>Nuestros conductores no solo son gente amable,<br>tambien son excelentes profesionales al volante de<br>coches
            que superan nuestros estandares de calidad.</p>
        </div>
  
        <div class="col-lg-1">
          <img src="../assets/imag/pasajeros/Group.png" alt="viajes y encomiendas seguros">
        </div>
  
        <div class="col-lg-11">
          <h2>Contigo en la carretera</h2>
            <p>Tenemos funciones de seguridad integradas en<br>nuestra app y un equipo listo las 24 horas para que, en<br>caso 
                de una emergencia, estes en buenas manos.</p>
        </div>
  
      </div>
      </div>
      </div>
<div class="container-fluid">
    <div class="row m-3">
        <div class="col-lg-6">
            <p class="para m-2">TARIFAS</p>
            <h1>Tranquilidad hasta en el<br>precio</h1>
            <p>Veras el precio estimado antes de pedir un viaje o<br>hacer un envio. Una vez que lo pidas, no importa<br>si hay trafico el 
                precio de tu viaje no aumentara.</p>
        </div>
        <div class="col-lg-6 py-3">
            <img src="../assets/imag/pasajeros/tranquilo.png" alt="tarifas transparentes" width="100%">
        </div>
    </div>
</div>
<div class="map">
    <iframe class="container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13131.261914578332!2d-58.47441909999999!3d-34.634102999999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9944d1d79ad%3A0x67e679d6cddbae9e!2sPlaza%20V%C3%A9lez%20Sarsfield!5e0!3m2!1ses!2sar!4v1677961105424!5m2!1ses!2sar" width="600" height="450" style="border:0;" 
    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

    <!-- bootstrap -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
   integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
</body>
<footer class="mt-5">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-sm-4">
                <h2>Donde estamos</h2>
                <p>Buenos Aires, CABA<br>Argentina</p>
            </div>
            <div class="col-sm-4">
                <h2>Contactanos</h2>
                <a target="_blank" href="https://api.whatsapp.com/send?phone=numeroaca">+549 11 0000 0000</a> <br>
                <a href="">viajesorinoco1@gmail.com</a>
                <p></p>
            </div>
            <div class="col-sm-4">
                <h2>Nuestros horarios</h2>
                <p>Lunes a Lunes<br>de 08 a 20 hrs </p>
            </div>
        </div>
    </div>
    <a target="_blank" href= "https://api.whatsapp.com/send?phone=numeroaca" class="btn btn-lg btn-primary mt-5">Conoce mas sobre nosotros</a>
</footer>
</html>