$color_1: rgb(68, 48, 122);
$color_2: rgb(52, 37, 95);
$color_3: white;
$color_4: black;
$color_5: gray;
$font-family_1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$background-color_1: white;
$background-color_2: rgb(247, 247, 252);
$background-color_3: rgb(247, 68, 5);